<div class="title_div"
<h1><%= @monster.name.split.map(&:capitalize).join(' ') %></h1>
</div>

<div class="center_div">

  <div class="subject-image">
    <img src=<%= @monster.image %> alt="">
  </div>

<h2>Difficulty Raiting: <%= @monster.dr %></h2>

<p>Species: <%= @monster.species.split.map(&:capitalize).join(' ')%></p>

<p>Type: <%= @monster.type.split.map(&:capitalize).join(' ') %></p>

<p> <%= @monster.description %></p>



</div>
